<div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

<div matBadge="1" matBadgeSize="small" class="demo-section">Text with small badge</div>
<div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

<div class="demo-section">
Button with a badge on the left
<button mat-raised-button matBadge="8" matBadgePosition="before">
  Action
</button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</div>

<div class="demo-section">
Icon with a badge
<mat-icon matBadge="15" aria-hidden="false">home</mat-icon>
<span class="cdk-visually-hidden">Icono de casa con un badge mostrando el número 15</span>

</div>
